@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100;1,300;1,500;1,900&display=swap");
nav {
  font-size: 22px; }
  nav a {
    font-weight: 300; }

.bkColor {
  background-color: beige; }

body {
  color: white;
  background-color: black;
  overflow-x: hidden; }

h2 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 40px;
  color: beige; }

.titulo__principal {
  font-size: 50px;
  font-weight: 900;
  color: darkgrey; }

.paddingT {
  padding-top: 15px;
  padding-bottom: 15px; }

.paddingC {
  padding-top: 40px;
  padding-bottom: 40px; }

.biografia__index--parrafo {
  width: 50%;
  font-weight: 300;
  font-size: 25px;
  text-transform: uppercase;
  line-height: 2rem; }

.biografia_index--imagen {
  width: 35%; }

.fTrabajos img {
  border-style: inset;
  border-color: beige;
  width: 300px;
  height: 400px; }

.tienda__parrafo {
  font-weight: 300;
  font-size: 25px; }

.tienda__imagen {
  position: relative;
  bottom: 10px; }

.border {
  border-radius: 5px;
  background-color: beige;
  color: black;
  padding: 2px;
  font-size: 20px; }

body {
  color: white;
  background-color: black;
  overflow-x: hidden; }

h2 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 40px;
  color: beige; }

.titulo__principal {
  font-size: 50px;
  font-weight: 900;
  color: darkgrey; }

.paddingT {
  padding-top: 15px;
  padding-bottom: 15px; }

.paddingC {
  padding-top: 40px;
  padding-bottom: 40px; }

.biografia__index--parrafo {
  width: 50%;
  font-weight: 300;
  font-size: 25px;
  text-transform: uppercase;
  line-height: 2rem; }

.biografia_index--imagen {
  width: 35%; }

.fTrabajos img {
  border-style: inset;
  border-color: beige;
  width: 300px;
  height: 400px; }

.tienda__parrafo {
  font-weight: 300;
  font-size: 25px; }

.tienda__imagen {
  position: relative;
  bottom: 10px; }

.fotos__trabajos img {
  border-style: inset;
  border-color: beige;
  margin: 5px; }

.presupuesto__titulo {
  margin-bottom: 40px;
  font-weight: 900; }

.presupuesto__sub {
  font-size: 25px;
  margin-bottom: 50px; }

.presupuesto__lista {
  list-style: none;
  font-weight: 300;
  font-size: 20px; }

.formularioContacto {
  background-color: beige;
  width: 400px;
  padding: 30px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 4px;
  color: black;
  box-shadow: 7px 13px 37px black; }

.formularioContacto h3 {
  color: black;
  font-size: 24px;
  font-weight: 900;
  margin-top: 15px;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase; }

.control {
  width: 100%;
  background-color: #24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 20px;
  border: 1px solid black;
  font-size: 18px;
  color: white; }

.boton {
  width: 100%;
  height: 45px;
  margin-top: 15px;
  border-radius: 4px;
  border: none;
  color: white;
  text-transform: uppercase;
  background: linear-gradient(to left top, black, darkgrey);
  font-size: 20px; }

.boton:hover {
  cursor: pointer;
  transform: translateY(-3px);
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s; }

.boton:active {
  transform: translateY(3px); }

.control:focus {
  height: 60px; }

@media only screen and (min-width: 1024px) {
  .carouselMod {
    width: 35%;
    position: relative;
    left: 400px; } }

.paddingF {
  padding-top: 10px; }

.border {
  border-radius: 5px;
  background-color: beige;
  color: black;
  padding: 2px;
  font-size: 20px; }

* {
  font-family: 'Roboto', sans-serif; }

a {
  text-decoration: none; }

.hr {
  border: none;
  height: 5px;
  background-color: white;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px; }
