@import "colores";
@import "boton";
@import "contenidoindex";

.fotos__trabajos img{
	border-style: map-get($bordeImg, estilo);
  	border-color: map-get($bordeImg, color);
  	margin:5px;
}

@media only screen and (max-width: 767px){
.fotos__trabajos img{
		width:100px;
		height:150px;
}
}